<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VT Auth prototype</title>
    <link rel="stylesheet" href="/css/uswds.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{> nav }}

  <main id="main-content">
    {{{body}}}
  </main>

</div>
</body>
</html>
