<section class="grid-container usa-section">
  <h1>VT Auth Prototype</h1>
  <div class="grid-row">
    <div class="tablet:grid-col">
      {{#if user}}
      Hi, {{user}}
      {{else}}
      <a href="/login">Log in</a>
      {{/if}}
    </div>
  </div>
</section>
