/* line 4, ../sass/style.scss */
body {
  background: #A0BAB1;
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/style.scss */
h1 {
  text-align: center;
}

/* line 13, ../sass/style.scss */
.LandingPageContents {
  background: none;
}

/* line 16, ../sass/style.scss */
.container {
  width: 1002px;
  margin: auto;
  clear: both;
  display: block;
  position: relative;
  overflow: auto;
  height: auto;
}

/* line 28, ../sass/style.scss */
.signUp {
  width: 33%;
  float: left;
  display: inline-block;
}
/* line 32, ../sass/style.scss */
.signUp.large {
  width: 66%;
}
/* line 34, ../sass/style.scss */
.signUp.large .signUpBody {
  float: left;
  width: 50%;
}

/* line 41, ../sass/style.scss */
#welcomeCall {
  background: #255953 url("../../img/WelcomeBG.png") 100%;
  padding: 5px;
}
/* line 44, ../sass/style.scss */
#welcomeCall h1 {
  color: #ffffff;
  line-height: 31px;
  padding-bottom: 20px;
  margin-bottom: 0;
}
/* line 50, ../sass/style.scss */
#welcomeCall h1 small {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 18px;
}

/* line 58, ../sass/style.scss */
#CallToAction {
  height: 355px;
  clear: both;
  margin-top: 10px;
  text-align: center;
}
/* line 63, ../sass/style.scss */
#CallToAction .signUpHeader {
  padding: 5px;
}
/* line 66, ../sass/style.scss */
#CallToAction .signUpHeader h1 {
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}
/* line 76, ../sass/style.scss */
#CallToAction .signUpBody {
  background: #f2f2f0;
}
/* line 80, ../sass/style.scss */
#CallToAction .signUpBody h2 {
  padding: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}
/* line 85, ../sass/style.scss */
#CallToAction .signUpBody div {
  padding: 10px;
}
/* line 89, ../sass/style.scss */
#CallToAction #newCust {
  margin-right: 1%;
}
/* line 91, ../sass/style.scss */
#CallToAction #newCust .signUpHeader {
  background: #f27535 url("../../img/orangeBG.png");
}
/* line 96, ../sass/style.scss */
#CallToAction #curCust .signUpHeader {
  background: #32aa9e url("../../img/tealBG.png");
}

/* line 103, ../sass/style.scss */
.min {
  min-height: 95px;
  max-height: 95px;
}

/* line 107, ../sass/style.scss */
.bannerLinks {
  clear: both;
  margin-top: 20px;
  overflow: hidden;
  height: auto;
  height: 98px;
  background: #f2f2f0;
}
/* line 114, ../sass/style.scss */
.bannerLinks .slide {
  float: left;
  background: #f2f2f0;
}

/* line 121, ../sass/style.scss */
.contentFooter {
  clear: both;
  display: block;
  height: auto;
  margin-top: 20px;
}
/* line 128, ../sass/style.scss */
.contentFooter .slide {
  width: 32.65%;
  float: left;
  background: #ffffff;
  margin-right: 1%;
  background-image: none;
  height: 300px;
  padding-bottom: 20px;
}
/* line 136, ../sass/style.scss */
.contentFooter .slide.two {
  margin-right: 0;
}
/* line 139, ../sass/style.scss */
.contentFooter .slide h2 {
  padding: 10px 20px;
  color: #255953;
  font-size: 25px;
}
/* line 144, ../sass/style.scss */
.contentFooter .slide .content {
  padding: 0 10px;
}
/* line 146, ../sass/style.scss */
.contentFooter .slide .content p {
  text-align: center;
  color: #255953;
  font-size: 14px;
  line-height: 17px;
}
/* line 151, ../sass/style.scss */
.contentFooter .slide .content p a {
  font-size: 11px;
}
/* line 155, ../sass/style.scss */
.contentFooter .slide .content ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 159, ../sass/style.scss */
.contentFooter .slide .content ul li {
  margin-bottom: 8px;
}
/* line 161, ../sass/style.scss */
.contentFooter .slide .content ul li a {
  color: #255953 !important;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}
/* line 171, ../sass/style.scss */
.contentFooter .slide .footerC {
  padding: 0 20px;
  padding-bottom: 10px;
}
/* line 174, ../sass/style.scss */
.contentFooter .slide .footerC p {
  text-align: center;
}

/* line 181, ../sass/style.scss */
.row {
  display: block;
  clear: both;
  overflow: auto;
  height: auto;
}
/* line 187, ../sass/style.scss */
.row .col {
  float: left;
}
/* line 189, ../sass/style.scss */
.row .col p {
  text-align: left !important;
  line-height: 15px;
  margin: 0;
  font-weight: 800;
  font-size: 12px;
  padding-top: 21px;
}

/* line 200, ../sass/style.scss */
.globe {
  position: relative;
  top: 4px;
}

/* line 205, ../sass/style.scss */
#content .container {
  padding-bottom: 20px;
}
/* line 208, ../sass/style.scss */
#content .row {
  padding-bottom: 20px;
}
/* line 210, ../sass/style.scss */
#content .row.content {
  padding-top: 20px;
}
/* line 212, ../sass/style.scss */
#content .row.content .col {
  width: 25%;
  padding-left: 7px;
}
/* line 219, ../sass/style.scss */
#content .col.one {
  width: 60%;
  margin-right: 5%;
}
/* line 223, ../sass/style.scss */
#content .col.two {
  width: 35%;
}
/* line 227, ../sass/style.scss */
#content a {
  color: #f27535;
}
/* line 230, ../sass/style.scss */
#content h2 {
  font-weight: 500;
}
/* line 234, ../sass/style.scss */
#content .headerC h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #255953;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 18px;
  margin-bottom: 10px;
  line-height: 18px;
}
/* line 244, ../sass/style.scss */
#content .headerC h2 {
  font-size: 24px;
  color: #255953;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 20px;
  margin-bottom: 12px;
  line-height: 30px;
  font-weight: 600;
  padding-left: 11px;
}
/* line 257, ../sass/style.scss */
#content .copy {
  color: #255953;
  font-size: 14px;
  padding-bottom: 6px;
}
/* line 262, ../sass/style.scss */
#content .basicBox {
  text-align: center;
  padding-top: 20px;
}
/* line 265, ../sass/style.scss */
#content .basicBox h4 {
  text-transform: uppercase;
  font-size: 20px;
  color: #255953;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 22px;
}
/* line 275, ../sass/style.scss */
#content .basicBox .copy {
  font-size: 14px;
  padding-bottom: 10px;
}

/* line 282, ../sass/style.scss */
#footer {
  border-top: thin solid #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 286, ../sass/style.scss */
#footer .col {
  width: 33%;
}
/* line 288, ../sass/style.scss */
#footer .col a {
  color: #255953;
}
/* line 291, ../sass/style.scss */
#footer .col.left {
  text-align: left;
}
/* line 293, ../sass/style.scss */
#footer .col.left p {
  padding-top: 0;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #255953;
}
/* line 304, ../sass/style.scss */
#footer .col.center {
  text-align: center;
}
/* line 306, ../sass/style.scss */
#footer .col.center a {
  color: #ffffff;
}
/* line 311, ../sass/style.scss */
#footer .col h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  color: #255953;
}
/* line 317, ../sass/style.scss */
#footer .col ul {
  list-style: none;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}
/* line 322, ../sass/style.scss */
#footer .col ul li {
  display: inline-block;
  margin-right: 10px;
}
/* line 325, ../sass/style.scss */
#footer .col ul li a {
  display: inline-block;
}

/* line 333, ../sass/style.scss */
#header {
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 5px;
}
/* line 337, ../sass/style.scss */
#header ul.nav {
  list-style: none !important;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  padding-top: 20px;
  float: right;
}
/* line 345, ../sass/style.scss */
#header ul.nav li {
  display: inline-block !important;
}
/* line 348, ../sass/style.scss */
#header ul.nav li a {
  display: inline-block !important;
  padding: 10px;
}
/* line 355, ../sass/style.scss */
#header .col.one {
  width: 25%;
  margin-right: 0;
}
/* line 359, ../sass/style.scss */
#header .col.two {
  width: 75%;
}
/* line 366, ../sass/style.scss */
#header .right {
  float: right;
}
/* line 369, ../sass/style.scss */
#header a {
  color: #255953;
  font-size: 14px;
  font-weight: 800;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 379, ../sass/style.scss */
.login a {
  background: #f27535;
  color: #ffffff !important;
  text-transform: uppercase;
}
/* line 384, ../sass/style.scss */
.login a:hover {
  background: #255953;
}

/* line 390, ../sass/style.scss */
.language {
  border: thin solid #255953;
  padding: 5px;
  margin-right: 50px;
  top: 3px !important;
  position: relative;
}
